<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center;">
    <h1><strong>Recuperar contraseña</strong></h1>
  </div><br><br><br>
  <ion-card style="text-align: center;">
    <ion-card-content>
      <p>Ingresa el correo para reestablecer tu contraseña</p>
      <ion-item>
        <ion-label>
          
        </ion-label>
      </ion-item>
      <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="mail@mail.com" type="email"></ion-input> <br><br>
      <ion-button expand="block" type="submit" color="dark">Recuperar contraseña</ion-button><br><br>
      <a href="../" style="font-size: medium; text-decoration: none;">Inicio</a>
    </ion-card-content>
  </ion-card>
</ion-content>
