<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">
      <ion-icon name="star" style="color: red"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center">
    <h2><strong>REGISTRO</strong></h2>
  </div>

  <ion-card>
    <ion-card-content>
      <form action="" style="text-align: center">
        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="nombre"
          name="nombre"
          style="text-align: center"
          label="Nombre: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe tu nombre..."
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="apellidos"
          name="apellidos"
          style="text-align: center"
          label="Apellidos: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe tus apellidos..."
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="correo"
          name="correo"
          style="text-align: center"
          type="email"
          label="Correo: "
          label-placement="floating"
          fill="outline"
          placeholder="mail@mail.com"
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="telefono"
          name="telefono"
          style="text-align: center"
          type="tel"
          label="Teléfono: "
          label-placement="floating"
          fill="outline"
          placeholder="555555555"
        ></ion-input>

        <ion-item><ion-label></ion-label></ion-item>
        <ion-input
          [(ngModel)]="password"
          name="password"
          style="text-align: center"
          type="password"
          label="Contraseña: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe una contraseña..."
          [(ngModel)]="password"
          name="password"
        ></ion-input>

        <ion-item><ion-label></ion-label></ion-item>
        <ion-input
          style="text-align: center"
          type="password"
          label="Confirmar Contraseña: "
          label-placement="floating"
          fill="outline"
          placeholder="Confirmar contraseña..."
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        ></ion-input>
        <br />

        <ion-text
          color="danger"
          *ngIf="password && confirmPassword && password !== confirmPassword"
        >
          Las contraseñas no coinciden.
        </ion-text>
        <br />

        <ion-button
          shape="round"
          color="dark"
          [disabled]="password !== confirmPassword || !password"
          (click)="guardarDatos()"
          >Siguiente
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
