<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">
      <ion-img
        src="/assets/icon/Asset 6ldpi.png"
        style="width: 30px; height: 30px; margin: auto"
        (click)="logo()"
      ></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-icon
    name="arrow-undo-outline"
    style="color: red; font-size: 30px"
    (click)="goback()"
  ></ion-icon>

  <div style="text-align: center">
    <h2><strong>REGISTRO</strong></h2>
  </div>

  <ion-card>
    <ion-card-content>
      <form action="" style="text-align: center">
        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="name"
          name="name"
          style="text-align: center"
          label="Nombre: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe tu nombre..."
          required="true"
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="lastname"
          name="lastname"
          style="text-align: center"
          label="Apellidos: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe tus apellidos..."
          required="true"
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="email"
          name="email"
          style="text-align: center"
          type="email"
          label="Correo: "
          label-placement="floating"
          fill="outline"
          placeholder="mail@mail.com"
          required="true"
        ></ion-input>

        <ion-item>
          <ion-label> </ion-label>
        </ion-item>
        <ion-input
          [(ngModel)]="phone"
          name="phone"
          style="text-align: center"
          type="tel"
          label="Teléfono: "
          label-placement="floating"
          fill="outline"
          placeholder="555555555"
          minlength="10"
          maxlength="10"
        ></ion-input>

        <ion-item><ion-label></ion-label></ion-item>
        <ion-input
          [(ngModel)]="password"
          name="password"
          style="text-align: center"
          type="password"
          label="Contraseña: "
          label-placement="floating"
          fill="outline"
          placeholder="Escribe una contraseña..."
          required="true"
        ></ion-input>

        <ion-item><ion-label></ion-label></ion-item>
        <ion-input
          style="text-align: center"
          type="password"
          label="Confirmar Contraseña: "
          label-placement="floating"
          fill="outline"
          placeholder="Confirmar contraseña..."
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required="true"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="password && confirmPassword && password !== confirmPassword"
          >Las contraseñas no coinciden.
        </ion-text>
        <br /><br />
        <div style="text-align: center">
          <p>Selecciona tus plataformas</p>
        </div>
        <ion-list>
          <ion-item *ngFor="let platform of platforms()">
            <ion-title style="text-align: justify">
              <p>{{ platform.name }}</p>
            </ion-title>
            <ion-checkbox
              justify="space-between"
              [checked]="selectedPlatforms().includes(platform.name)"
              (ionChange)="onCheckboxChange(platform.name, $event.detail.checked)"
              required="true"
              >ㅤ</ion-checkbox
            > </ion-item
          ><br />
          <ion-label> Otro: </ion-label><br />
          <ion-input
            [(ngModel)]="agregarPlataforma"
            name="agregarPlataforma"
            type="text"
            label="Plataforma"
            label-placement="floating"
            fill="outline"
            placeholder="Escribe el nombre de la plataforma"
          ></ion-input>
        </ion-list>
        <ion-text color="danger" *ngIf="selectedPlatforms().length === 0">
          Debes seleccionar al menos una plataforma.
        </ion-text>

        <ion-button
          style="text-align: center"
          shape="round"
          color="primary"
          [disabled]="password !== confirmPassword || !password || selectedPlatforms().length === 0"
          (click)="enviarDatos()"
          >Guardar <a href="../buscar"></a
        ></ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
