<ion-tabs aria-hidden="true">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login" style="background-color: black">
      <ion-icon name="home-sharp" style="color: red"></ion-icon>
      <ion-label style="color: red">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background-color: black">
      <ion-icon
        aria-hidden="true"
        name="person-sharp"
        style="color: red"
      ></ion-icon>
      <ion-label style="color: red">Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar" style="background-color: black">
      <ion-icon
        aria-hidden="true"
        name="search-sharp"
        style="color: red"
      ></ion-icon>
      <ion-label style="color: red">Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: black">
      <ion-icon
        aria-hidden="true"
        name="information-sharp"
        style="color: red"
      ></ion-icon>
      <ion-label style="color: red">Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
