<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img
      src="/assets/icon/Asset 6ldpi.png"
      style="width: 30px; height: 30px; margin: auto"
      (click)="logo()"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buscar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center">
    <h1><strong>BIENVENIDO</strong></h1>
  </div>

  <ion-card>
    <ion-card-content style="text-align: center">
      <ion-avatar style="margin: auto; width: 100px; height: 100px">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title>
        <h2><strong>{{ nombreUsuario }}</strong></h2>
      </ion-title>
      <br /><br />
      <p>Ingresa tú correo para rastrear tus paquetes:</p>
      <br />
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
      <ion-input
        style="text-align: center"
        [(ngModel)]="email"
        name="email"
        label="correo:"
        label-placement="floating"
        fill="outline"
        placeholder="mail@mail.com"
        type="email"
        required="true"
      ></ion-input>
      <ion-text color="danger" *ngIf="!email"
        ><br />
        Debes llenar este campo </ion-text
      ><br /><br />
      <ion-button
        expand="full"
        shape="round"
        color="primary"
        [disabled]="!email"
        (click)="buscarPlataformas()"
        >BUSCAR</ion-button
      ><br /><br />
    </ion-card-content>
  </ion-card>
</ion-content>
