<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header style="text-align: center; color: black">
      <h1><strong>Proyecto App Encuéntrame</strong></h1></ion-card-header
    >
    <ion-card-content style="text-align: center; color: black">
      <p>
        Proyecto desarrollado para el Diplomado en Desarrollo de Aplicaciones
        Móviles de la Universidad de Londres.
      </p>
      <br />
      <p style="text-align: justify">
        Esta aplicación está diseñada para rastrear paquetes de diferentes
        plataformas de envío. Puedes buscar tus paquetes ingresando tu correo
        electrónico y ver los resultados en la sección de resultados.
      </p>
      <br />
      <p style="text-align: justify">
        Además, puedes editar tu perfil en la sección de perfil y ver los
        detalles de cada paquete en la sección de detalles.
      </p>
      <br /><br />
      <p style="text-align: center; font-style: italic">
        ¡Gracias por usar nuestra aplicación!
      </p>
      <br /><br />
      <p style="font-style: italic">
        Desarrollado por: <br />
        <strong>Benjamín Paredes Ramírez</strong>
      </p>
      <p style="font-style: italic">2024 - 2025</p>
    </ion-card-content>
  </ion-card>
</ion-content>
