<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <ion-icon name="star" style="color: red;"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro2</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div style="text-align: center;">
    <h2><strong>REGISTRO</strong></h2><br><br>
    <p>Selecciona tus plataformas</p>
  </div>

  <ion-card>
    <ion-card-content>
      <form action="" style="text-align: center;">
        <ion-list>
          <ion-item *ngFor="let platform of platforms()">
            <ion-title>
              <b>{{ platform.name }}</b>
            </ion-title>
          </ion-item>
        </ion-list>
        <ion-checkbox></ion-checkbox>
        <ion-button shape="round" color="dark">Siguiente</ion-button>
      
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>



